*{
    color: black;
    text-decoration: none;
}
.container{
    background-color: green;
    text-align: center;
}

.caja{
    width: 200px;
    height: 300px;
    border: 10px solid black;
    padding: 10px;
    margin: 20px 50px;
}
.uno{
    background-color: blue;
    display: inline-block;
    
}
.dos{
    background-color: yellow;
    display: inline-block;  
}
.tres{
    background-color: red;    
    display: inline-block;  
}
.cuatro{
    background-color: blueviolet;
    display: inline-block;   
}
.cinco{
    background-color: brown;
    display: inline-block;
}
.seis{
    background-color: aqua;
    display: inline-block;
}
.siete{
    background-color:coral;
    display: inline-block;
}
.ocho{
    background-color:darkmagenta;
    display: inline-block;
}

h1{
font-family: sans-serif;
font-size: 1.2rem;
}

.linkscontainer{
    background-color: blue;
    background-image: url(./IMG/fondotitle.jpg);
    height: 70px;
    margin-top: 10px;
    text-align: end; 
    padding-right: 5vh;
    word-spacing: 20px;
}

.linkscontainer li{
    display: inline-block;
    font-family: sans-serif;
}