*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}
#title-style{
    color: black;
}

body{
    background-color: blue;
    background-image: url(./IMG/fondoclash.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Alfa Slab One', cursive;
    color: white;
}

.title{
    color: blue;
}